* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    display: flex;
}

.left {
    width: 40%;
    height: 100vh;
    background-image: url(./erik-mclean-U06nswCc4l4-unsplash.jpg);
    background-color: red;
    background-position: center;
    background-size: 800px;
}

.black {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    margin-top: 250px;
    padding: 20px;
    font-size: 50px;
    font-weight: 900;
}


.right {
    width: 60%;
    height: 100vh;
    padding: 200px 50px;
    background-color: #cfcfcf;
}

.right > .big {
    margin-bottom: 30px;
}

.big {
    font-size: 30px;
    width: 700px;
}

form {
    appearance: none;
    margin-top: 60px;
}

.white {
    background-color: white;
    margin: 0 -50px;
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.white > .big {
    margin-bottom: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid > div {
    margin: 8px 0;
}

label {
    display: block;
    font-size: 16px;
}

input {
    width: 250px;
    height: 30px;
    padding: 3px;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input:focus {
    outline: none;
    border: 2px solid #093426;
}

button {
    background-color: #093426;
    color: white;
    width: 200px;
    height: 50px;
    border: 1px solid #093426;
    border-radius: 15px;
    margin: 30px 0;
    font-size: 20px;
}

.bottom {
    font-size: 20px;
}

a {
    text-decoration: none;
    color:#093426;
    font-weight: 600;
}

a:hover {
    color: white;
}

a:visited {
    color: #093426;
}

a:visited:hover {
    color:white;
}